apiVersion: v1
kind: ServiceAccount
metadata:
  name: sg-executor
  labels:
    category: rbac
    deploy: sourcegraph
    sourcegraph-resource-requires: cluster-admin
    app.kubernetes.io/component: executor
