{{- if .Values.openTelemetry.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    description: Forwards telemetry data to the OpenTelemetry Collector Deployment.
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.openTelemetry.agent.labels }}
      {{- toYaml .Values.openTelemetry.agent.labels | nindent 4 }}
    {{- end }}
    deploy: sourcegraph
    app.kubernetes.io/component: otel-collector
  name: {{ .Values.openTelemetry.agent.name }}
spec:
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: otel-agent
  minReadySeconds: 5
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: otel-agent
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.openTelemetry.agent.podAnnotations }}
      {{- toYaml .Values.openTelemetry.agent.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.openTelemetry.agent.podLabels }}
      {{- toYaml .Values.openTelemetry.agent.podLabels | nindent 8 }}
      {{- end }}
        deploy: sourcegraph
        app: otel-agent
    spec:
      containers:
      - name: otel-agent
        image: {{ include "sourcegraph.image" (list . "openTelemetry") }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        command:
          - "/bin/otelcol-sourcegraph"
          - "--config=/etc/otel-agent/config.yaml"
        {{- with .Values.openTelemetry.agent.args }}
        args:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        {{- range $name, $item := .Values.openTelemetry.agent.env}}
          - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.openTelemetry.agent.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.openTelemetry.agent.containerSecurityContext | nindent 10 }}
        readinessProbe:
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          httpGet:
            path: /
            port: 13133
        ports:
          - name: grpc-otlp
            containerPort: 4317
            hostPort: {{ toYaml .Values.openTelemetry.agent.hostPorts.grpcOtlp }}
          - name: http-otlp
            containerPort: 4318
            hostPort: {{ toYaml .Values.openTelemetry.agent.hostPorts.httpOtlp }}
          - name: http-zpages
            containerPort: 55679
            hostPort: {{ toYaml .Values.openTelemetry.agent.hostPorts.httpZpages }}
        volumeMounts:
          - name: config
            mountPath: /etc/otel-agent
      terminationGracePeriodSeconds: 120
      {{- include "sourcegraph.nodeSelector" (list . "openTelemetry" ) | trim | nindent 6 }}
      {{- include "sourcegraph.affinity" (list . "openTelemetry" ) | trim | nindent 6 }}
      {{- include "sourcegraph.openTelemetry.tolerations" (list . "agent" ) | trim | nindent 6 }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "sourcegraph.renderServiceAccountName" (list .Values.openTelemetry "agent") | trim | nindent 6 }}
      volumes:
        - name: config
          configMap:
            name: otel-agent
            items:
              - key: config.yaml
                path: config.yaml
{{- end }}
