### Common Configuration ###
sourcegraph:
  labels: {}
  image:
    repository: index.docker.io/sourcegraph
    pullPolicy: IfNotPresent
    tag: "{{ .Chart.AppVersion }}"
  imagePullSecrets: []
  revisionHistoryLimit: 10

# Generic application configuration options
# app:
#   replicaCount: 1
#   image: {}

frontend:
  image:
    tag: "insiders@sha256:cc01a2f65e5bb9ef8d762eaa973cf1287507c74d5d4c76b3e00d278c40b356a9"
  replicaCount: 2
  resources:
    limits:
      cpu: "2"
      ephemeral-storage: "8Gi"
      memory: 4G
    requests:
      cpu: "2"
      ephemeral-storage: "4Gi"
      memory: 2G
  podSecurityContext:
    runAsUser: 0
  serviceAccount:
    create: true
    name: "sourcegraph-frontend"
  ingress:
    enabled: true

githubProxy:
  image:
    tag: "insiders@sha256:efd6d9b1093d18202323cf9bca788df146d155ccb117d6488066beb867ac4e2e"
  replicaCount: 1
  resources:
    limits:
      cpu: "1"
      memory: 1G
    requests:
      cpu: 100m
      memory: 250M
  podSecurityContext:
    runAsUser: 0

gitserver:
  image:
    tag: "insiders@sha256:37f04a63676a2496bfb87f55442e574dc20dcba66a8ebd636c7f7212fef2e0d4"
  replicaCount: 1
  storageSize: "200Gi"
  resources:
    limits:
      cpu: "4"
      memory: 8G
    requests:
      cpu: "4"
      memory: 8G
  podSecurityContext:
    runAsUser: 0

  labels: {}

grafana:
  image:
    tag: "insiders@sha256:1331577ff6080e4a9ac6ec32074815a6eabe7e6abbe8042aa6f05a25eb742a39"
  replicaCount: 1
  storageSize: "2Gi"
  resources:
    limits:
      cpu: "1"
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 512Mi
  podSecurityContext:
    runAsUser: 0
  serviceAccount:
    create: true

indexedSearch:
  image:
    tag: "insiders@sha256:5168403765834c6fd064fc7004efd6530104430868712a1ebd3a47ab5e2be031"
  replicaCount: 1
  # The size of disk to used for search indexes.
  # This should typically be gitserver disk size multipled by the number of gitserver shards.
  storageSize: "200Gi"
  resources:
    limits:
      cpu: "2"
      memory: 4G
    requests:
      cpu: 500m
      memory: 2G
  podSecurityContext:
    runAsUser: 0

searchIndexer:
  image:
    tag: "insiders@sha256:2d0b691e5495a6bcc154e2c9d17a2721e3b2358a71a88cb9f84f284f7980d1dd"
  resources:
    # zoekt-indexserver is CPU bound. The more CPU you allocate to it, the
    # lower lag between a new commit and it being indexed for search.
    limits:
      cpu: "8"
      memory: 8G
    requests:
      cpu: "4"
      memory: 4G

preciseCodeIntel:
  image:
    tag: "insiders@sha256:c1690021447dc6f9b50d520df9284d594b24f09f3acadc27a407b31f7592fc0f"
  replicaCount: 2
  resources:
    limits:
      cpu: "2"
      memory: 4G
    requests:
      cpu: 500m
      memory: 2G
  podSecurityContext:
    runAsUser: 0

queryRunner:
  image:
    tag: "insiders@sha256:cb6285b7021f0fe3953846e58006f82816cba046cbe6892cebff667905ab5a50"
  replicaCount: 1
  resources:
    limits:
      cpu: "1"
      memory: 1G
    requests:
      cpu: 500m
      memory: 1G
  podSecurityContext:
    runAsUser: 0

repoUpdater:
  image:
    tag: "insiders@sha256:7a54d944125aae8e985ec5c607ec1435d7410687f26b7c705e8baa9f94a41191"
  replicaCount: 1
  resources:
    limits:
      cpu: "1"
      memory: 2Gi
    requests:
      cpu: "1"
      memory: 500Mi
  podSecurityContext:
    runAsUser: 0

searcher:
  image:
    tag: "insiders@sha256:bde5e1eaaf73adf6e915ec47a788bdee96b72d617b89acb0e350001addc08d28"
  replicaCount: 2
  resources:
    limits:
      cpu: "2"
      ephemeral-storage: "26G"
      memory: 2G
    requests:
      cpu: 500m
      ephemeral-storage: "25G"
      memory: 500M
  podSecurityContext:
    runAsUser: 0

symbols:
  image:
    tag: "insiders@sha256:468ce5a77133f508f1ef5f4010b7676c4db7f6795137f768e36fc46ee5c6c072"
  replicaCount: 1
  resources:
    limits:
      cpu: "2"
      ephemeral-storage: "12G"
      memory: 2G
    requests:
      cpu: 500m
      ephemeral-storage: "10G"
      memory: 500M
  podSecurityContext:
    runAsUser: 0

syntectServer:
  image:
    tag: "insiders@sha256:f15a5dcc88ab8574049e37c9985750d0a4aa3d1ec665ec8345f85206155364fb"
  replicaCount: 1
  resources:
    limits:
      cpu: "4"
      memory: 6G
    requests:
      cpu: 250m
      memory: 2G
  podSecurityContext:
    runAsUser: 0

worker:
  image:
    tag: "insiders@sha256:f23c47ec08a7e31bad546b967fd7e7cb9811c4e7a1147f79a59944cd9e24be40"
  replicaCount: 1
  resources:
    limits:
      cpu: "2"
      memory: 4G
    requests:
      cpu: 500m
      memory: 2G
  podSecurityContext:
    runAsUser: 0

prometheus: {}

tracing:
  enabled: true
  image:
    name: jaeger-agent
    tag: "insiders@sha256:b980c65f7675a83c2181ba9b5d98efd257709dec1c261d1f93197238076249ab"
  resources:
    limits:
      cpu: "1"
      memory: 500M
    requests:
      cpu: 100m
      memory: 100M

storageClass:
  create: true # Disable if you have your own existing storage class
  name: sourcegraph # Customize to the existing storage class name
  provisioner: kubernetes.io/gce-pd
  type: pd-ssd

nameOverride: ""
fullnameOverride: ""
