{{- if and (not .Values.sourcegraph.disableKubernetesSecrets) .Values.grafana.auth (not .Values.grafana.auth.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: grafana
    deploy: sourcegraph
    app.kubernetes.io/component: grafana
  name: {{ .Values.grafana.name }}-auth
type: Opaque
data:
  database: {{ .Values.grafana.auth.database | toString | b64enc | quote }}
  host: {{ .Values.grafana.auth.host | toString | b64enc | quote }}
  password: {{ .Values.grafana.auth.password | toString | b64enc | quote }}
  port: {{ .Values.grafana.auth.port | toString | b64enc | quote }}
  sslmode: {{ .Values.grafana.auth.sslmode | toString | b64enc | quote }}
  user: {{ .Values.grafana.auth.user | toString | b64enc | quote }}
{{- end -}}
