apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- if .Values.executor.serviceAnnotations }}
    {{- toYaml .Values.executor.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
{{ include "executor.labels" . | indent 4 }}
    {{- if .Values.executor.serviceLabels }}
    {{- toYaml .Values.executor.serviceLabels | nindent 4 }}
    {{- end }}
  name: {{ include "executor.name" . }}
spec:
  ports:
  - name: debug
    port: 6060
    targetPort: debug
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: {{ include "executor.name" . }}
  type: {{ .Values.executor.serviceType | default "ClusterIP" }}

