apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "6060"
    sourcegraph.prometheus/scrape: "true"
    {{- if .Values.symbols.serviceAnnotations }}
    {{- toYaml .Values.symbols.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    app: symbols
    deploy: sourcegraph
    app.kubernetes.io/component: symbols
    {{- if .Values.symbols.serviceLabels }}
      {{- toYaml .Values.symbols.serviceLabels | nindent 4 }}
    {{- end }}
  name: symbols
spec:
  clusterIP: None
  ports:
  - name: http
    port: 3184
    targetPort: http
  - name: debug
    port: 6060
    targetPort: debug
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: symbols
  # type: {{ .Values.symbols.serviceType | default "ClusterIP" }}
