apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    description: Backend for symbols operations.
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.symbols.labels }}
      {{- toYaml .Values.symbols.labels | nindent 4 }}
    {{- end }}
    deploy: sourcegraph
    app.kubernetes.io/component: symbols
  name: {{ .Values.symbols.name }}
spec:
  minReadySeconds: 10
  replicas: {{ .Values.symbols.replicaCount }}
  revisionHistoryLimit: {{ .Values.sourcegraph.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: symbols
  updateStrategy:
    type: RollingUpdate
  serviceName: symbols
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: symbols
      {{- include "sourcegraph.redisChecksum" . | nindent 8 }}
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.symbols.podAnnotations }}
      {{- toYaml .Values.symbols.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.symbols.podLabels }}
      {{- toYaml .Values.symbols.podLabels | nindent 8 }}
      {{- end }}
        deploy: sourcegraph
        app: symbols
    spec:
      containers:
      - name: symbols
        env:
        {{- include "sourcegraph.redisConnection" .| nindent 8 }}
        {{- range $name, $item := .Values.symbols.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        - name: SYMBOLS_CACHE_SIZE_MB
          # Set the cache size to ~90% of the PVC size
          {{- if .Values.symbols.storageSize }}
          value: {{ trimSuffix "Gi" .Values.symbols.storageSize | mul 900 | quote }}
          {{- else }}
          # This value is ~90% of the default value for
          # storageSize in the VolumeClaimTemplate below
          value: "10800"
          {{- end }}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: SYMBOLS_CACHE_DIR
          value: /mnt/cache/$(POD_NAME)
        - name: TMPDIR
          value: /mnt/tmp
        {{- include "sourcegraph.openTelemetryEnv" . | nindent 8 }}
        image: {{ include "sourcegraph.image" (list . "symbols" ) }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        {{- with .Values.symbols.args }}
        args:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        terminationMessagePolicy: FallbackToLogsOnError
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
            scheme: HTTP
          periodSeconds: 5
          timeoutSeconds: 5
        ports:
        - containerPort: 3184
          name: http
        - containerPort: 6060
          name: debug
        volumeMounts:
        - mountPath: /mnt/cache
          name: cache
        - mountPath: /mnt/tmp
          name: tmp
        {{- if .Values.symbols.extraVolumeMounts }}
        {{- toYaml .Values.symbols.extraVolumeMounts | nindent 8 }}
        {{- end }}
        {{- if not .Values.sourcegraph.localDevMode }}
        resources:
          {{- toYaml .Values.symbols.resources | nindent 10 }}
        {{- end }}
        securityContext:
          {{- toYaml .Values.symbols.containerSecurityContext | nindent 10 }}
      {{- if .Values.symbols.extraContainers }}
        {{- toYaml .Values.symbols.extraContainers | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.symbols.podSecurityContext | nindent 8 }}
      {{- include "sourcegraph.nodeSelector" (list . "symbols" ) | trim | nindent 6 }}
      {{- include "sourcegraph.affinity" (list . "symbols" ) | trim | nindent 6 }}
      {{- include "sourcegraph.tolerations" (list . "symbols" ) | trim | nindent 6 }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "sourcegraph.renderServiceAccountName" (list . "symbols") | trim | nindent 6 }}
      volumes:
      - emptyDir: {}
        name: cache
      - emptyDir: {}
        name: tmp
      {{- if .Values.symbols.extraVolumes }}
      {{- toYaml .Values.symbols.extraVolumes | nindent 6 }}
      {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: cache
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.symbols.storageSize | default "12Gi" }}
      storageClassName: {{ .Values.storageClass.name }}
