{{- if and .Values.codeInsightsDB.enabled (and .Values.codeInsightsDB.existingConfig .Values.codeInsightsDB.additionalConfig) -}}
{{- fail "You can only define one of 'codeInsightsDB.existingConfig' and 'codeInsightsDB.additionalConfig' at a time" }}
{{- end }}
{{- if and .Values.codeInsightsDB.enabled (not .Values.codeInsightsDB.existingConfig) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    description: Configuration for Code Insights database
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "codeInsightsDB" "kind" "configmap" "componentLabel" "codeinsights-db") | nindent 4 }}
  name: {{ .Values.codeInsightsDB.name }}-conf
data:
  postgresql.conf: |
    {{- .Files.Get "files/codeinsights-db/conf/postgresql.conf" | nindent 4 }}
    {{- tpl .Values.codeInsightsDB.additionalConfig . | nindent 4 | trim }}
{{- end }}
