apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    description: Performs Sourcegraph database migrations.
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.migrator.labels }}
      {{- toYaml .Values.migrator.labels | nindent 4 }}
    {{- end }}
    deploy: sourcegraph
    app.kubernetes.io/component: migrator
  name: {{ default "migrator" .Values.migrator.name }}-{{ randAlphaNum 5 | lower }}
spec:
  backoffLimit: 5
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: migrator
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.migrator.podAnnotations }}
      {{- toYaml .Values.migrator.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.migrator.podLabels }}
      {{- toYaml .Values.migrator.podLabels | nindent 8 }}
      {{- end }}
        job: migrator
        deploy: sourcegraph
    spec:
      containers:
      - name: migrator
        image: {{ include "sourcegraph.image" (list . "migrator") }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        args: {{- default (list "up") .Values.migrator.args | toYaml | nindent 8 }}
        env:
        {{- include "sourcegraph.databaseAuth" (list . "pgsql" "PG") | nindent 8 }}
        {{- include "sourcegraph.databaseAuth" (list . "codeIntelDB" "CODEINTEL_PG") | nindent 8 }}
        {{- include "sourcegraph.databaseAuth" (list . "codeInsightsDB" "CODEINSIGHTS_PG") | nindent 8 }}
        {{- range $name, $item := .Values.migrator.env }}
        - name: {{ $name }}
        {{- $item | toYaml | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.migrator.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.migrator.containerSecurityContext | nindent 10 }}
        volumeMounts:
        {{- if .Values.migrator.extraVolumeMounts }}
        {{- toYaml .Values.migrator.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- if .Values.migrator.extraContainers }}
        {{- toYaml .Values.migrator.extraContainers | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.migrator.podSecurityContext | nindent 8 }}
      {{- with .Values.sourcegraph.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.tolerations }}
      {{- if or .Values.migrator.priorityClassName .Values.sourcegraph.priorityClassName }}
      priorityClassName: {{ coalesce .Values.migrator.priorityClassName .Values.sourcegraph.priorityClassName }}
      {{- end }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      {{- if .Values.migrator.extraVolumes }}
      volumes:
      {{- toYaml .Values.migrator.extraVolumes | nindent 6 }}
      {{- end }}
