apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "6060"
    sourcegraph.prometheus/scrape: "true"
    {{- if .Values.syntectServer.serviceAnnotations }}
    {{- toYaml .Values.syntectServer.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    app: syntect-server
    deploy: sourcegraph
    app.kubernetes.io/component: syntect-server
    {{- if .Values.syntectServer.serviceLabels }}
      {{- toYaml .Values.syntectServer.serviceLabels | nindent 4 }}
    {{- end }}
  name: syntect-server
spec:
  ports:
  - name: http
    port: 9238
    targetPort: http
  - name: http-debug
    port: 6060
    targetPort: http-debug
  selector:
    {{- include "sourcegraph.selectorLabels" (dict "ctx" . "valuesKey" "syntectServer") | nindent 4 }}
    app: syntect-server
  type: {{ .Values.syntectServer.serviceType | default "ClusterIP" }}
