# These values are dervied from https://github.com/sourcegraph/deploy-sourcegraph-helm/blob/main/charts/sourcegraph/values.yaml

### Common Configuration ###
sourcegraph:
  image:
    # -- Global docker image tag
    defaultTag: '{{ .Chart.AppVersion }}'
    # -- Global docker image pull policy
    pullPolicy: IfNotPresent
    # -- Global docker image registry or prefix
    repository: us-docker.pkg.dev/sourcegraph-images/internal
    # -- When set to true, sourcegraph.image.defaultTag is used as the default defaultTag for all services, instead of service-specific default defaultTags
    useGlobalTagAsDefault: false
  # -- Mount named secrets containing docker credentials
  imagePullSecrets: [ ]
  # -- Add a global label to all resources
  labels: { }
  # -- When true, remove all resource stanzas, allowing the scheduler to best-fit pods. Intended for local development with limited resources.
  localDevMode: false
  # -- Set a custom name for the app.kubernetes.io/name annotation
  nameOverride: ""
  # -- Affinity,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
  affinity: { }
  # -- NodeSelector,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector)
  nodeSelector: { }
  # -- Tolerations,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  tolerations: [ ]
  # -- Add extra annotations to attach to all pods
  podAnnotations: { }
  # -- Add extra labels to attach to all pods
  podLabels: { }
  # -- Assign a priorityClass to all pods (daemonSets, deployments, and statefulSets)
  priorityClassName: ""


storageClass:
  # -- Enable creation of storageClass. Defaults to Google Cloud Platform. Disable if you have your own existing storage class
  create: false
  # -- Name of the storageClass.
  # Use to customize to the existing storage class name
  name: sourcegraph
  # -- Name of the storageClass provisioner,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#provisioner)
  # and consult your cloud provider persistent storage documentation
  provisioner: kubernetes.io/gce-pd
  # -- Value of `type` key in storageClass `parameters`,
  # consult your cloud provider persistent storage documentation
  type: pd-ssd
  # -- Extra parameters of storageClass,
  # consult your cloud provider persistent storage documentation
  parameters: { }
  # -- Persistent volumes topology configuration,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies)
  allowedTopologies: { }

executor:
  # -- Whether to configure the necessary RBAC resources. Required only once for all executor deployments.
  configureRbac: true
  replicas: 1
  image:
    defaultTag: 6.12.1792@sha256:7dbd2ad48a4b23d1657694c030eb85a53a146a524d28466610db17c517a3a47c
    name: "executor-kubernetes"
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 200Mi
  # -- The external URL of the Sourcegraph instance. Required. **Recommended:** set to the internal service endpoint (e.g. `http://sourcegraph-frontend.sourcegraph.svc.cluster.local:30080` if Sourcegraph is deployed in the `sourcegraph` namespace).
  # This will avoid unnecessary network charges as traffic will stay within the local network.
  frontendUrl: ""
  # -- Name of existing k8s Secret to use for frontend password
  # The name of the secret must match `executor.name`, i.e., the name of the helm release used to deploy the helm chart.
  # The k8s Secret must contain the key `EXECUTOR_FRONTEND_PASSWORD` matching the site config `executors.accessToken` value.
  # `executor.frontendPassword` is ignored if this is enabled.
  frontendExistingSecret: ""
  # -- The shared secret configured in the Sourcegraph instance site config under executors.accessToken. Required if `executor.frontendExistingSecret`` is not configured.
  frontendPassword: ""
  # -- The name of the queue to pull jobs from to. Possible values: batches and codeintel. **Either this or queueNames is required.**
  queueName: ""
  # -- The names of multiple queues to pull jobs from to. Possible values: batches and codeintel. **Either this or queueName is required.**
  queueNames: [ ]
  # -- The maximum amount of jobs that can be executed concurrently.
  maximumNumJobs: 10
  # - The maximum wall time that can be spent on a single job.
  maximumRuntimePerJob: "30m"

  log:
    # -- Possible values are `dbug`, `info`, `warn`, `eror`, `crit`.
    level: "warn"
    format: "condensed"
    trace: "false"

  # -- The storage size of the PVC attached to the executor deployment.
  storageSize: 10Gi
  # -- The namespace in which jobs are generated by the executor.
  namespace: "default"
  # -- The path to the kubeconfig file. If not specified, the in-cluster config is used.
  kubeconfigPath: ""
  # -- The containerSecurityContext for the executor image
  securityContext:
    # @default -- nil; accepts [0, 2147483647]
    runAsUser:
    # @default -- nil; accepts [0, 2147483647]
    runAsGroup:
    # @default -- nil; accepts [0, 2147483647]
    fsGroup:
    # @default -- false; accepts [true, false]
    privileged: false

  kubernetesJob:
    # -- The number of seconds after which a Kubernetes job will be terminated.
    deadline: "1200"
    # -- (int) The user ID to run Kubernetes jobs as.
    # @default -- `nil`; accepts [0, 2147483647]
    runAsUser:
    # -- (int) The group ID to run Kubernetes jobs as.
    # @default -- `nil`; accepts [0, 2147483647]
    runAsGroup:
    # -- The group ID which is set on the job PVC file system.
    fsGroup: "1000"
    resources:
      requests:
        # -- The requested CPU for a job.
        cpu: ""
        # -- The requested memory for a job.
        memory: "1Gi"
      limits:
        # -- The maximum CPU for a job.
        cpu: ""
        # -- The maximum memory for a job.
        memory: "12Gi"

    node:
      # -- The name of the Kubernetes Node to create job pods on. If not specified, the pods are created on the first available node.
      name: ""
      # -- A comma separated list of values to use as a node selector for Kubernetes Jobs. e.g. `foo=bar,app=my-app`
      selector: ""
      # -- The JSON encoded tolerations for Kubernetes Jobs. e.g. '[{\"key\":\"foo\",\"operator\":\"Equal\",\"value\":\"bar\",\"effect\":\"NoSchedule\"}]'
      tolerations: ""
      # -- The JSON encoded required affinity match expressions for Kubernetes Jobs. e.g. '[{\"key\":\"foo\",\"operator\":\"In\",\"values\":[\"bar\"]}]'
      requiredAffinityMatchExpressions: ""
      # -- The JSON encoded required affinity match fields for Kubernetes Jobs. e.g. '[{\"key\":\"foo\",\"operator\":\"In\",\"values\":[\"bar\"]}]'
      requiredAffinityMatchFields: ""

    pod:
      # -- The JSON encoded pod affinity for Kubernetes Jobs. e.g. '[{\"labelSelector\": {\"matchExpressions\": [{\"key\": \"foo\",\"operator\": \"In\",\"values\": [\"bar\"]}]},\"topologyKey\": \"kubernetes.io/hostname\"}]'
      affinity: ""
      # -- The JSON encoded pod anti-affinity for Kubernetes Jobs. e.g. '[{\"labelSelector\": {\"matchExpressions\": [{\"key\": \"foo\",\"operator\": \"In\",\"values\": [\"bar\"]}]},\"topologyKey\": \"kubernetes.io/hostname\"}]'
      antiAffinity: ""

  debug:
    # -- If true, Kubernetes jobs will not be deleted after they complete. Not recommended for production use as it can hit cluster limits.
    keepJobs: "false"
    keepWorkspaces: "false"

  # -- Affinity,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
  affinity: { }

  # -- NodeSelector,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector)
  nodeSelector: { }

  # -- Tolerations,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  tolerations: [ ]

  # -- Sets extra environment variables on the executor deployment. See `values.yaml` for the format.
  extraEnv:
#   - name: MY_ENV
#     value: my_value

  # -- For local deployments the host is 'host.docker.internal' and this needs to be true
  dockerAddHostGateway: "false"
