{{- if and .Values.cadvisor.enabled .Values.cadvisor.podSecurityPolicy.enabled  -}}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app: cadvisor
    category: rbac
    deploy: sourcegraph
    app.kubernetes.io/component: cadvisor
  name: {{ .Values.cadvisor.name }}
rules:
  - apiGroups: ['policy']
    resources: ['podsecuritypolicies']
    verbs:     ['use']
    resourceNames:
    - {{ .Values.cadvisor.name }}
{{- end }}
