{{- if and .Values.cadvisor.enabled .Values.cadvisor.podSecurityPolicy.enabled  -}}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app: cadvisor
    category: rbac
    deploy: sourcegraph
    app.kubernetes.io/component: cadvisor
  name: {{ .Values.cadvisor.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.cadvisor.name }}
subjects:
- name: {{ include "sourcegraph.serviceAccountName" (list . "cadvisor") }}
  kind: ServiceAccount
  namespace: {{ .Release.Namespace }}
{{- end }}
