{{- if .Values.frontend.createRoleBinding }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    category: rbac
    deploy: sourcegraph
    app.kubernetes.io/component: frontend
  name: {{ .Values.frontend.name }}
roleRef:
{{- if .Values.frontend.privileged }}
  apiGroup: "rbac.authorization.k8s.io"
  kind: Role
  name: {{ .Values.frontend.name }}
{{- else }}
  apiGroup: ""
  kind: ClusterRole
  name: view
{{- end }}
subjects:
- name: {{ include "sourcegraph.serviceAccountName" (list . "frontend") }}
  kind: ServiceAccount
  namespace: {{ .Release.Namespace }}
{{- end }}
