apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kubectl.kubernetes.io/default-container: frontend
    description: Serves the frontend of Sourcegraph via HTTP(S).
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.frontend.labels }}
      {{- toYaml .Values.frontend.labels | nindent 4 }}
    {{- end }}
    deploy: sourcegraph
    app.kubernetes.io/component: frontend
  name: {{ default "sourcegraph-frontend" .Values.frontend.name }}
spec:
  minReadySeconds: 10
  replicas: {{ .Values.frontend.replicaCount }}
  revisionHistoryLimit: {{ .Values.sourcegraph.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: sourcegraph-frontend
  strategy:
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      annotations:
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.frontend.podAnnotations }}
      {{- toYaml .Values.frontend.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.frontend.podLabels }}
      {{- toYaml .Values.frontend.podLabels | nindent 8 }}
      {{- end }}
        app: sourcegraph-frontend
        deploy: sourcegraph
    spec:
      initContainers:
      {{- if .Values.migrator.enabled }}
      - name: migrator
        image: {{ include "sourcegraph.image" (list . "migrator") }}
        args:
        - up
        env:
        {{- range $name, $item := .Values.frontend.env }}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        {{- range $name, $item := .Values.migrator.env }}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.migrator.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.migrator.podSecurityContext | nindent 10 }}
      {{- end }}
      containers:
      - name: frontend
        image: {{ include "sourcegraph.image" (list . "frontend") }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        args:
        - serve
        env:
        {{- range $name, $item := .Values.frontend.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        # POD_NAME is used by CACHE_DIR
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        # CACHE_DIR stores larger items we cache. Majority of it is zip
        # archives of repositories at a commit.
        - name: CACHE_DIR
          value: /mnt/cache/$(POD_NAME)
        terminationMessagePolicy: FallbackToLogsOnError
        livenessProbe:
          httpGet:
            path: /healthz
            port: debug
            scheme: HTTP
          initialDelaySeconds: 300
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: debug
            scheme: HTTP
          periodSeconds: 5
          timeoutSeconds: 5
        ports:
        - containerPort: 3080
          name: http
        - containerPort: 3090
          name: http-internal
        - containerPort: 6060
          name: debug
        {{- if not .Values.sourcegraph.localDevMode }}
        resources:
          {{- toYaml .Values.frontend.resources | nindent 10 }}
        {{- end }}
        securityContext:
          {{- toYaml .Values.frontend.podSecurityContext | nindent 10 }}
        volumeMounts:
        - mountPath: /mnt/cache
          name: cache-ssd
        - mountPath: /home/sourcegraph
          name: home-dir
        {{- if .Values.frontend.extraVolumeMounts }}
        {{- toYaml .Values.frontend.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- include "sourcegraph.tracing" . | nindent 6 }}
      {{- if .Values.frontend.extraContainers }}
        {{- toYaml .Values.frontend.extraContainers | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.frontend.securityContext | nindent 8 }}
      {{- with .Values.sourcegraph.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sourcegraph.serviceAccountName" (list . "frontend") }}
      volumes:
      - emptyDir: {}
        name: cache-ssd
      - emptyDir: {}
        name: home-dir
      {{- if .Values.frontend.extraVolumes }}
      {{- toYaml .Values.frontend.extraVolumes | nindent 6 }}
      {{- end }}
