{{- if .Values.frontend.podDisruptionBudget }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Values.frontend.name }}
spec:
  {{- toYaml .Values.frontend.podDisruptionBudget | nindent 2 }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" (dict "ctx" . "valuesKey" "frontend" "componentLabel" "sourcegraph-frontend") | nindent 6 }}
{{- end }}
