apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "6060"
    sourcegraph.prometheus/scrape: "true"
    {{- if .Values.searcher.serviceAnnotations }}
    {{- toYaml .Values.searcher.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    app: searcher
    deploy: sourcegraph
    app.kubernetes.io/component: searcher
    {{- if .Values.searcher.serviceLabels }}
      {{- toYaml .Values.searcher.serviceLabels | nindent 4 }}
    {{- end }}
  name: searcher
spec:
  clusterIP: None
  ports:
  - name: grpc
    port: 3181
    targetPort: grpc
  - name: http-debug
    port: 6060
    targetPort: http-debug
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: searcher
