apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: "6060"
    sourcegraph.prometheus/scrape: "true"
    {{- if .Values.searcher.serviceAnnotations }}
    {{- toYaml .Values.searcher.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "searcher" "kind" "service") | nindent 4 }}
  name: searcher
spec:
  clusterIP: None
  ports:
  - name: grpc
    port: 3181
    targetPort: grpc
  - name: http-debug
    port: 6060
    targetPort: http-debug
  selector:
    {{- include "sourcegraph.selectorLabels" (dict "ctx" . "valuesKey" "searcher") | nindent 4 }}
