{{- if .Values.qdrant.enabled -}}
apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- if .Values.qdrant.serviceAnnotations }}
    {{- toYaml .Values.qdrant.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    app: qdrant
    deploy: sourcegraph
    app.kubernetes.io/component: qdrant
    {{- if .Values.qdrant.serviceLabels }}
      {{- toYaml .Values.qdrant.serviceLabels | nindent 4 }}
    {{- end }}
  name: qdrant
spec:
  ports:
  - name: http
    port: 6333
    targetPort: http
  - name: grpc
    port: 6334
    targetPort: grpc
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: qdrant
  type: {{ .Values.qdrant.serviceType | default "ClusterIP" }}
{{- end }}
