# These values are dervied from https://github.com/sourcegraph/deploy-sourcegraph-helm/blob/main/charts/sourcegraph/values.yaml

### Common Configuration ###
sourcegraph:
  image:
    # -- Global docker image tag
    defaultTag: '{{ .Chart.AppVersion }}'
    # -- Global docker image pull policy
    pullPolicy: IfNotPresent
    # -- Global docker image registry or prefix
    repository: index.docker.io/sourcegraph
    # -- When set to true, sourcegraph.image.defaultTag is used as the default defaultTag for all services, instead of service-specific default defaultTags
    useGlobalTagAsDefault: false
  # -- Mount named secrets containing docker credentials
  imagePullSecrets: []
  # -- Add a global label to all resources
  labels: {}
  # -- Set a custom name for the app.kubernetes.io/name annotation
  nameOverride: ""
  # -- Affinity,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
  affinity: {}
  # -- NodeSelector,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector)
  nodeSelector: {}
  # -- Tolerations,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  tolerations: []
  # -- Add extra annotations to attach to all pods
  podAnnotations: {}
  # -- Add extra labels to attach to all pods
  podLabels: {}


# Generic application configuration options, used by most applications below
# app: # Generally matches directory name
#   replicaCount: 1
#
#   image:
#     # Application-specific default tag. Overrides the global tag. Do not modify - use tag instead
#     defaultTag:
#     # Override the default tag on a service-specific basis
#     tag:
#     # Override the default docker image name
#     name:
#
#   # Add additional labels and annotations to various resources
#   labels: {}
#   podLabels: {}
#   podAnnotations: {}
#   serviceLabels: {}
#   serviceAnnotations: {}
#   # Override default service/deployment names
#   name: ""
#   # Provide custom environment variables
#   env: {}
#   # Set resource requests / limits
#   resources: {}
#   podSecurityContext: {}
#   securityContext: {}
#   # Add additional volumes and mounts to deployments
#   extraVolumeMounts: {}
#   extraVolumes: {}
#   # Add sidecars
#   extraContainers: {}
#   # Toggle serviceAccount creation
#   serviceAccount.create: true
#   # Customize service account name
#   serviceAccount.name: ""
#   # Override service type (defaults to ClusterIP)
#   serviceType: ""
#   # Set disk size on PVC's for stateful deployments
#   storageSize: ""
#   # Optionally bind PVC's to an existing PV
#   volumeName: ""
#   # Use an existing configmap (specified by name) instead of creating one
#   existingConfig: ""
#   # Toggle deployment of applications on/off. Applies to databases and third-party applications
#   enabled: true

codeInsightsDB:
  name: "codeinsights-db"
  auth:
    # -- Name of existing secret to use for codeinsights-db credentials
    # This should match the setting in the sourcegraph chart values
    existingSecret: ""

codeIntelDB:
  name: "codeintel-db"
  auth:
    # -- Name of existing secret to use for codeintel-db credentials
    # This should match the setting in the sourcegraph chart values
    existingSecret: ""

pgsql:
  name: "pgsql"
  auth:
    # -- Name of existing secret to use for pgsql credentials
    # This should match the setting in the sourcegraph chart values
    existingSecret: ""

migrator:
  image:
    # -- Docker image tag for the `migrator` image
    defaultTag: 6.7.229@sha256:7c01607b3559b14a53ad3573b27b8e9f5646612d6046cb339bba4fea6d5c372a
    # -- Docker image name for the `migrator` image
    name: "migrator"
  # -- Environment variables for the `migrator` container
  env: {}
  # -- Resource requests & limits for the `migrator` container,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
  resources:
    limits:
      cpu: 500m
      memory: 100M
    requests:
      cpu: 100m
      memory: 50M
  # -- Security context for the `migrator` container,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container)
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsUser: 100
    runAsGroup: 101
    readOnlyRootFilesystem: true
  # -- Override default `migrator` container args
  # Available commands can be found at
  # https://docs.sourcegraph.com/admin/how-to/manual_database_migrations
  args:
  - up
  - -db=all
