apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: Handles conversion of uploaded precise code intelligence bundles.
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.preciseCodeIntel.labels }}
      {{- toYaml .Values.preciseCodeIntel.labels | nindent 4 }}
    {{- end }}
    deploy: sourcegraph
    app.kubernetes.io/component: precise-code-intel
  name: {{ .Values.preciseCodeIntel.name }}
spec:
  minReadySeconds: 10
  replicas: {{ .Values.preciseCodeIntel.replicaCount }}
  revisionHistoryLimit: {{ .Values.sourcegraph.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: precise-code-intel-worker
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: precise-code-intel-worker
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.preciseCodeIntel.podAnnotations }}
      {{- toYaml .Values.preciseCodeIntel.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.preciseCodeIntel.podLabels }}
      {{- toYaml .Values.preciseCodeIntel.podLabels | nindent 8 }}
      {{- end }}
        deploy: sourcegraph
        app: precise-code-intel-worker
    spec:
      containers:
      - name: precise-code-intel-worker
        env:
        {{- range $name, $item := .Values.preciseCodeIntel.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        {{- if .Values.blobstore.enabled }}
        - name: PRECISE_CODE_INTEL_UPLOAD_BACKEND
          value: blobstore
        - name: PRECISE_CODE_INTEL_UPLOAD_AWS_ENDPOINT
          value: http://blobstore:9000
        {{- end }}
        {{- include "sourcegraph.openTelemetryEnv" . | nindent 8 }}
        image: {{ include "sourcegraph.image" (list . "preciseCodeIntel") }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        {{- with .Values.preciseCodeIntel.args }}
        args:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        terminationMessagePolicy: FallbackToLogsOnError
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-debug
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: http-debug
            scheme: HTTP
          periodSeconds: 5
          timeoutSeconds: 5
        ports:
        - name: http
          containerPort: 3188
        - name: http-debug
          containerPort: 6060
        {{- if not .Values.sourcegraph.localDevMode }}
        resources:
          {{- toYaml .Values.preciseCodeIntel.resources | nindent 10 }}
        {{- end }}
        {{- include "sourcegraph.containerSecurityContext" (list . "preciseCodeIntel" 8) }}
        volumeMounts:
        - mountPath: /tmp
          name: tmpdir
        {{- if .Values.preciseCodeIntel.extraVolumeMounts }}
        {{- toYaml .Values.preciseCodeIntel.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- if .Values.preciseCodeIntel.extraContainers }}
        {{- toYaml .Values.preciseCodeIntel.extraContainers | nindent 6 }}
      {{- end }}
      {{- include "sourcegraph.podSecurityContext" (list . "preciseCodeIntel" 6) }}
      {{- include "sourcegraph.nodeSelector" (list . "preciseCodeIntel" ) | trim | nindent 6 }}
      {{- include "sourcegraph.affinity" (list . "preciseCodeIntel" ) | trim | nindent 6 }}
      {{- with include "sourcegraph.priorityClassName" (list . "preciseCodeIntel" ) | trim }}{{ . | nindent 6 }}{{- end }}
      {{- include "sourcegraph.tolerations" (list . "preciseCodeIntel" ) | trim | nindent 6 }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "sourcegraph.renderServiceAccountName" (list . "preciseCodeIntel") | trim | nindent 6 }}
      volumes:
      - name: tmpdir
        emptyDir: {}
      {{- if .Values.preciseCodeIntel.extraVolumes }}
      {{- toYaml .Values.preciseCodeIntel.extraVolumes | nindent 6 }}
      {{- end }}
