{{- if .Values.executor.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "executor.name" . }}
  annotations:
    prometheus.io/port: "6060"
    sourcegraph.prometheus/scrape: "true"
    {{- if .Values.executor.serviceAnnotations }}
    {{- toYaml .Values.executor.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "executor.labels" . | nindent 4 }}
    {{- if .Values.executor.serviceLabels }}
    {{- toYaml .Values.executor.serviceLabels | nindent 4 }}
    {{- end }}
spec:
  ports:
    - name: http-debug
      port: 6060
      targetPort: http-debug
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: {{include "executor.name" . }}
  type: {{ .Values.executor.serviceType | default "ClusterIP" }}
{{- end }}
