# These values are dervied from https://github.com/sourcegraph/deploy-sourcegraph-helm/blob/main/charts/sourcegraph/values.yaml

### Common Configuration ###
sourcegraph:
  image:
    # -- Global docker image tag
    defaultTag: '{{ .Chart.AppVersion }}'
    # -- Global docker image pull policy
    pullPolicy: IfNotPresent
    # -- Global docker image registry or prefix
    repository: index.docker.io/sourcegraph
    # -- When set to true, sourcegraph.image.defaultTag is used as the default defaultTag for all services, instead of service-specific default defaultTags
    useGlobalTagAsDefault: false
  # -- Mount named secrets containing docker credentials
  imagePullSecrets: []
  # -- Add a global label to all resources
  labels: {}
  # -- Set a custom name for the app.kubernetes.io/name annotation
  nameOverride: ""
  # -- Affinity,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
  affinity: {}
  # -- NodeSelector,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector)
  nodeSelector: {}
  # -- Tolerations,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)
  tolerations: []
  # -- Add extra annotations to attach to all pods
  podAnnotations: {}
  # -- Add extra labels to attach to all pods
  podLabels: {}


storageClass:
  # -- Enable creation of storageClass. Defaults to Google Cloud Platform. Disable if you have your own existing storage class
  create: false
  # -- Name of the storageClass.
  # Use to customize to the existing storage class name
  name: sourcegraph
  # -- Name of the storageClass provisioner,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#provisioner)
  # and consult your cloud provider persistent storage documentation
  provisioner: kubernetes.io/gce-pd
  # -- Value of `type` key in storageClass `parameters`,
  # consult your cloud provider persistent storage documentation
  type: pd-ssd
  # -- Extra parameters of storageClass,
  # consult your cloud provider persistent storage documentation
  parameters: {}
  # -- Persistent volumes topology configuration,
  # learn more from the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies)
  allowedTopologies: {}

executor:
  enabled: true
  image:
    defaultTag: 5.3.3@sha256:04a442d0b4e6a6d0a61234d069bdb43bac0bf19f646f7d713ac22684b78e4087
    name: "executor"
  replicaCount: 1
  env:
    # -- The external URL of the Sourcegraph instance. Required.
    EXECUTOR_FRONTEND_URL:
      value: ""
    # -- The shared secret configured in the Sourcegraph instance site config under executors.accessToken. Required.
    EXECUTOR_FRONTEND_PASSWORD:
      value: ""
    # -- The name of the queue to pull jobs from to. Possible values: batches and codeintel. **Either this or EXECUTOR_QUEUE_NAMES is required.**
    EXECUTOR_QUEUE_NAME:
      value: ""
    # -- The comma-separated list of names of multiple queues to pull jobs from to. Possible values: batches and codeintel. **Either this or EXECUTOR_QUEUE_NAME is required.**
    EXECUTOR_QUEUE_NAMES:
      value: ""

dind:
  image:
    registry: index.docker.io
    repository: docker
    tag: 20.10.22-dind

privateDockerRegistry:
  # -- Whether to deploy the private registry. Only one registry is needed when deploying multiple executors.
  # More information: https://docs.sourcegraph.com/admin/executors/deploy_executors#using-private-registries
  enabled: true
  image:
    registry: index.docker.io
    repository: docker/regisry
    tag: 2
  storageSize: 10Gi
