storageClass:
  create: true
  provisioner: ebs.csi.aws.com
  reclaimPolicy: Retain
  type: gp3
  volumeBindingMode: WaitForFirstConsumer

frontend:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: null # Unset deprecated annotation
      # Additional AWS ALB ingress controller annotations
      # ...
    host: sourcegraph.company.com # Replace with your actual hostname
    ingressClassName: alb

  # Uncomment if using AWS RDS with IAM authentication
  # env:
  #   PG_CONNECTION_UPDATER:
  #     value: EC2_ROLE_CREDENTIALS
  #   AWS_STS_REGIONAL_ENDPOINTS:
  #     value: regional
