storageClass:
  create: true
  provisioner: ebs.csi.aws.com
  reclaimPolicy: Retain
  type: gp3
  volumeBindingMode: WaitForFirstConsumer

frontend:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: null # Unset deprecated annotation
      # Additional AWS ALB ingress controller annotations
      # ...
    host: sourcegraph.company.com # Replace with your actual hostname
    ingressClassName: alb
