apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    description: Backend for indexed text search operations.
  labels:
    deploy: sourcegraph
    app.kubernetes.io/component: indexed-search
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.indexedSearch.labels }}
      {{- toYaml .Values.indexedSearch.labels | nindent 4 }}
    {{- end }}
  name: {{ default "indexed-search" .Values.indexedSearch.name }}
spec:
  replicas: {{ .Values.indexedSearch.replicaCount }}
  revisionHistoryLimit: {{ .Values.sourcegraph.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: indexed-search
  serviceName: indexed-search
  template:
    metadata:
      annotations:
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.indexedSearch.podAnnotations }}
      {{- toYaml .Values.indexedSearch.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- include "sourcegraph.selectorLabels" . | nindent 8 }}
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.indexedSearch.podLabels }}
      {{- toYaml .Values.indexedSearch.podLabels | nindent 8 }}
      {{- end }}
        app: indexed-search
        deploy: sourcegraph
    spec:
      containers:
      - name: zoekt-webserver
        image: {{ include "sourcegraph.image" (list . "indexedSearch") }}
        {{- with .Values.indexedSearch.args }}
        args:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        {{- range $name, $item := .Values.indexedSearch.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 6070
          name: http
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: http
            scheme: HTTP
          periodSeconds: 5
          timeoutSeconds: 5
        {{- if not .Values.sourcegraph.localDevMode }}
        resources:
          {{- toYaml .Values.indexedSearch.resources | nindent 10 }}
        {{- end }}
        securityContext:
          {{- toYaml .Values.indexedSearch.containerSecurityContext | nindent 10 }}
        volumeMounts:
        - mountPath: /data
          name: data
        {{- if .Values.indexedSearch.extraVolumeMounts }}
        {{- toYaml .Values.indexedSearch.extraVolumeMounts | nindent 8 }}
        {{- end }}
      - name: zoekt-indexserver
        image: {{ include "sourcegraph.image" (list . "indexedSearchIndexer") }}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        {{- range $name, $item := .Values.indexedSearchIndexer.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 6072
          name: index-http
        {{- if not .Values.sourcegraph.localDevMode }}
        resources:
          {{- toYaml .Values.indexedSearchIndexer.resources | nindent 10 }}
        {{- end }}
        securityContext:
          {{- toYaml .Values.indexedSearchIndexer.containerSecurityContext | nindent 10 }}
        volumeMounts:
        - mountPath: /data
          name: data
        {{- if .Values.indexedSearchIndexer.extraVolumeMounts }}
        {{- toYaml .Values.indexedSearchIndexer.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- if .Values.indexedSearch.extraContainers }}
        {{- toYaml .Values.indexedSearch.extraContainers | nindent 6 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.indexedSearch.podSecurityContext | nindent 8 }}
      {{- include "sourcegraph.nodeSelector" (list . "indexedSearch" ) | trim | nindent 6 }}
      {{- include "sourcegraph.affinity" (list . "indexedSearch" ) | trim | nindent 6 }}
      {{- include "sourcegraph.tolerations" (list . "indexedSearch" ) | trim | nindent 6 }}
      {{- with .Values.sourcegraph.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: data
      {{- if .Values.indexedSearch.extraVolumes }}
      {{- toYaml .Values.indexedSearch.extraVolumes | nindent 6 }}
      {{- end }}
  updateStrategy:
    type: RollingUpdate
  volumeClaimTemplates:
  - metadata:
      labels:
        deploy: sourcegraph
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.indexedSearch.storageSize }}
      storageClassName: {{ .Values.storageClass.name }}
