{{- if and .Values.codeIntelDB.enabled (and .Values.codeIntelDB.existingConfig .Values.codeIntelDB.additionalConfig) -}}
{{- fail "You can only define one of 'codeIntelDB.existingConfig' and 'codeIntelDB.additionalConfig' at a time" }}
{{- end }}
{{- if and .Values.codeIntelDB.enabled (not .Values.codeIntelDB.existingConfig) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    description: Configuration for PostgreSQL
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "codeIntelDB" "kind" "configmap" "componentLabel" "codeintel-db") | nindent 4 }}
  name: {{ .Values.codeIntelDB.name }}-conf
data:
  postgresql.conf: |
    {{- .Files.Get "files/codeintel-db/conf/postgresql.conf" | nindent 4 }}
    {{- tpl .Values.codeIntelDB.additionalConfig . | nindent 4 | trim }}
{{- end }}
