apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: Postgres database for various data.
    kubectl.kubernetes.io/default-container: pgsql
  labels:
    {{- include "sourcegraph.labels" . | nindent 4 }}
    {{- if .Values.codeIntelDB.labels }}
      {{- toYaml .Values.codeIntelDB.labels | nindent 4 }}
    {{- end }}
    app.kubernetes.io/component: codeintel-db
    deploy: sourcegraph
  name: {{ default "codeintel-db" .Values.codeIntelDB.name }}
spec:
  {{- with .Values.sourcegraph.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  minReadySeconds: 10
  replicas: {{ .Values.codeIntelDB.replicaCount }}
  revisionHistoryLimit: {{ .Values.sourcegraph.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "sourcegraph.selectorLabels" . | nindent 6 }}
      app: codeintel-db
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
      {{- if .Values.sourcegraph.podAnnotations }}
      {{- toYaml .Values.sourcegraph.podAnnotations | nindent 8 }}
      {{- end }}
      {{- if .Values.codeIntelDB.podAnnotations }}
      {{- toYaml .Values.codeIntelDB.podAnnotations | nindent 8 }}
      {{- end }}
      labels:
      {{- if .Values.sourcegraph.podLabels }}
      {{- toYaml .Values.sourcegraph.podLabels | nindent 8 }}
      {{- end }}
      {{- if .Values.codeIntelDB.podLabels }}
      {{- toYaml .Values.codeIntelDB.podLabels | nindent 8 }}
      {{- end }}
        deploy: sourcegraph
        app: codeintel-db
        group: backend
    spec:
      initContainers:
      - name: correct-data-dir-permissions
        image: {{ include "sourcegraph.image" (list . "alpine" "alpine-3.12") }}
        command: ["sh", "-c", "if [ -d /data/pgdata-12 ]; then chmod 750 /data/pgdata-12; fi"]
        volumeMounts:
        - mountPath: /data
          name: disk
        securityContext:
        {{- toYaml .Values.alpine.podSecurityContext | nindent 10 }}
        resources:
        {{- toYaml .Values.alpine.resources | nindent 10 }}
      containers:
      - name: pgsql
        image: {{ include "sourcegraph.image" (list . "codeIntelDB" "codeintel-db") }}
        imagePullPolicy: {{ .Values.sourcegraph.image.pullPolicy }}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        {{- range $name, $item := .Values.codeIntelDB.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        readinessProbe:
          exec:
            command:
              - /ready.sh
        livenessProbe:
          initialDelaySeconds: 15
          exec:
            command:
              - /liveness.sh
        ports:
        - containerPort: 5432
          name: pgsql
        resources:
        {{- toYaml .Values.codeIntelDB.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /data
          name: disk
        - mountPath: /conf
          name: pgsql-conf
        {{- if .Values.codeIntelDB.extraVolumeMounts }}
        {{- toYaml .Values.codeIntelDB.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- if .Values.codeIntelDB.extraContainers }}
        {{- toYaml .Values.codeIntelDB.extraContainers | nindent 6 }}
      {{- end }}
      - env:
        {{- range $name, $item := .Values.codeIntelDB.postgresExporter.env}}
        - name: {{ $name }}
          {{- $item | toYaml | nindent 10 }}
        {{- end }}
        - name: PG_EXPORTER_EXTEND_QUERY_PATH
          value: /config/code_intel_queries.yaml
        image: {{ include "sourcegraph.image" (list . "postgresExporter" "postgres_exporter") }}
        terminationMessagePolicy: FallbackToLogsOnError
        name: pgsql-exporter
        resources:
        {{- toYaml .Values.postgresExporter.resources | nindent 10 }}
      terminationGracePeriodSeconds: 120
      securityContext:
        {{- toYaml .Values.codeIntelDB.podSecurityContext | nindent 8 }}
      {{- with .Values.sourcegraph.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sourcegraph.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: disk
        persistentVolumeClaim:
          claimName: codeintel-db
      - name: pgsql-conf
        configMap:
          defaultMode: 0777
          name: {{ default "codeintel-db-conf" .Values.codeIntelDB.name }}
      {{- if .Values.codeIntelDB.extraVolumes }}
      {{- toYaml .Values.codeIntelDB.extraVolumes | nindent 6 }}
      {{- end }}
