{{- if .Values.jaeger.enabled -}}
apiVersion: v1
kind: Service
metadata:
  annotations:
  {{- if .Values.jaeger.collector.serviceAnnotations }}
  {{- toYaml .Values.jaeger.collector.serviceAnnotations | nindent 4 }}
  {{- end }}
  labels:
    deploy: sourcegraph
    app.kubernetes.io/component: all-in-one
    app: jaeger
    app.kubernetes.io/name: jaeger
    {{- if .Values.jaeger.collector.serviceLabels }}
      {{- toYaml .Values.jaeger.collector.serviceLabels | nindent 4 }}
    {{- end }}
  name: {{ default "jaeger-collector" .Values.jaeger.collector.name }}
spec:
  ports:
  - name: http-collector
    port: 4321
    protocol: TCP
    targetPort: http-collector
  - name: grpc-collector
    port: 4320
    protocol: TCP
    targetPort: grpc-collector
  selector:
    {{- include "sourcegraph.jaeger.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: all-in-one
    app: jaeger
  type: {{ .Values.jaeger.collector.serviceType | default "ClusterIP" }}
{{- end }}
