{{- if and .Values.nodeExporter.enabled .Values.nodeExporter.podSecurityPolicy.enabled  -}}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  labels:
    app: node-exporter
    category: rbac
    deploy: sourcegraph
    app.kubernetes.io/component: node-exporter
  name: {{ .Values.nodeExporter.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.nodeExporter.name }}
subjects:
- name: {{ include "sourcegraph.serviceAccountName" (list . "nodeExporter") }}
  kind: ServiceAccount
  namespace: {{ .Release.Namespace }}
{{- end }}
