{{- if .Values.blobstore.enabled -}}
apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- if .Values.blobstore.serviceAnnotations }}
    {{- toYaml .Values.blobstore.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "blobstore" "kind" "service") | nindent 4 }}
  name: {{ .Values.blobstore.name }}
spec:
  ports:
  - name: http
    port: 9000
    targetPort: http
  selector:
    {{- include "sourcegraph.selectorLabels" (dict "ctx" . "valuesKey" "blobstore") | nindent 4 }}
  type: {{ .Values.blobstore.serviceType | default "ClusterIP" }}
{{- end }}
