{{- if and .Values.blobstore.enabled .Values.blobstore.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  {{- include "sourcegraph.serviceAccountAnnotations" (list . "blobstore") | trim | nindent 2 }}
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "blobstore" "kind" "serviceaccount") | nindent 4 }}
  name: {{ include "sourcegraph.serviceAccountName" (list . "blobstore") }}
{{- end }}
