{{- if .Values.blobstore.enabled -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    {{- include "sourcegraph.labels" (dict "ctx" . "valuesKey" "blobstore") | nindent 4 }}
  name: {{ .Values.blobstore.name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.blobstore.storageSize }}
  storageClassName: {{ .Values.storageClass.name }}
  {{- if .Values.blobstore.volumeName }}
  volumeName: {{ .Values.blobstore.volumeName }}
  {{- end }}
{{- end }}
