{{- if .Values.blobstore.enabled -}}
apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- if .Values.blobstore.serviceAnnotations }}
    {{- toYaml .Values.blobstore.serviceAnnotations | nindent 4 }}
    {{- end }}
  labels:
    app: blobstore
    deploy: sourcegraph
    app.kubernetes.io/component: blobstore
    {{- if .Values.blobstore.serviceLabels }}
      {{- toYaml .Values.blobstore.serviceLabels | nindent 4 }}
    {{- end }}
  name: blobstore
spec:
  ports:
  - name: http
    port: 9000
    targetPort: http
  selector:
    {{- include "sourcegraph.selectorLabels" . | nindent 4 }}
    app: blobstore
  type: {{ .Values.blobstore.serviceType | default "ClusterIP" }}
{{- end }}
