{{- if and .Values.prometheus.enabled (not .Values.prometheus.privileged) .Values.prometheus.createRoleBinding -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    category: rbac
    deploy: sourcegraph
    app.kubernetes.io/component: prometheus
  name: {{ .Values.prometheus.name }}
roleRef:
  apiGroup: ""
  kind: ClusterRole
  name: view
subjects:
- name: {{ include "sourcegraph.serviceAccountName" (list . "prometheus") }}
  kind: ServiceAccount
  namespace: {{ .Release.Namespace }}
{{- end }}
